*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fcfaf7;
}

nav{
    height: 90px;
    overflow: hidden;
}

.d-flex form {
    height: 60px;
}

.icons-bar a{
    color: #000;
}

.icons-bar i{
    opacity: 0.6;
}

.icons-bar i:active{
    opacity: 1;
}

.icons .opacity a i{
    opacity: 1;
}

 .card .card-head img{
    position: relative;
}

.card .card-head span img {
    width: 75px;
    height: 75px;
     position: absolute;
    left: 115px;
    top: 20px; 
} 

.card-mid h6{
    opacity: 0.6;
}

.card-body .fs-6{
    opacity: 0.6;
    letter-spacing: 1px;
}

.card-body {
    opacity: 0.6;
}

.card .card-up{
    opacity: 0.6;
}

.card-down-images p{
    opacity: 0.6;
}

.card-footere a{
    opacity: 0.6;
}

.card-footere a:hover{
    opacity: 1;
}

.card-alt .smalle{
    opacity: 0.6;
}

.width{
    width: 400px;
}

.header-images .header-info p{
    opacity: 0.6;
}

.post i{
    opacity: 0.6;
}

.icons-info h6{
    opacity: 0.6;
}

.top {
    opacity: 0.6;
}